body
{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, cursive;
background: orange;
}

.header_div
{
    background: rgb(255, 255, 255);
    color:fuchsia;
}

.header_div p{
    font: 'comic Sans', sans-serif;
    color: rgb(19, 255, 216);
    letter-spacing: 2px;
    font-size: 12px;
    font-size:12px;
    font-weight: 12;
}
.main_div button{
    font-family: 'Comic Sans', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer {
    position: fixed;
    color:rgb(195, 0, 255);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: rgb(195, 5 , 255);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px  rgb(151, 139, 139);
}